body{
	width: 330px;
	height: 330px;
	border: 1px solid #00DAEC;
	margin-left: 500px;
	margin-top: 250px;
}


section {
	height: 40px;
	overflow: hidden;
	width: 330px;
	transition: 1s ease;
}

.thisSection{
	height: 250px;
}

h2{
	height: 35px;
	background-color: #00DAEC;
	padding-left: 20px;
	padding-top: 5px;
	font-family: 'Poiret One', cursive;
	margin: 0;
}


h2:hover{
	background: #00BF89;
	opacity: 0.8;
}

p{
	font-family: 'Titillium Web', sans-serif;
	padding-left: 10px;
	padding-right: 5px;
}